<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="sticky-top mb-3">
                    @*<div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Eventos disponibles</h4>
                            </div>
                            <div class="card-body">
                                <div id="external-events">
                                    <div class="checkbox">
                                        <label for="drop-remove">
                                            <input type="checkbox" id="drop-remove">
                                            Eliminar después de agregar
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-body">

                            <!-- /btn-group -->
                            <div class="form-group">
                                @*<input id="new-event" type="text" class="form-control" placeholder="Asunto">*@

                                <div class="form-group">
                                    <button id="add-new-event" type="button" class="btn btn-primary">Agregar</button>
                                    <p id="pDetails"></p>
                                </div>
                                <div class="form-group">
                                    <button id="edit-event" type="button" class="btn btn-primary">Editar</button>
                                    <p id="pDetails"></p>
                                </div>
                                <!-- /btn-group -->
                            </div>
                            <!-- /input-group -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-primary">
                    <div class="card-body p-0">
                        <!-- THE CALENDAR -->
                        <div id="calendar"></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->


@section scripts
{
    <!-- jQuery -->
    <script src="~/theme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/theme/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/theme/dist/js/adminlte.min.js"></script>

    <!-- fullCalendar 2.2.5 -->
    <script src="~/theme/plugins/moment/moment.min.js"></script>
    <script src="~/theme/plugins/fullcalendar/main.min.js"></script>

    <script src="~/theme/plugins/fullcalendar/locales/es.js"></script>

    <script src="~/theme/plugins/fullcalendar-daygrid/main.min.js"></script>
    <script src="~/theme/plugins/fullcalendar-timegrid/main.min.js"></script>
    <script src="~/theme/plugins/fullcalendar-interaction/main.min.js"></script>
    <script src="~/theme/plugins/fullcalendar-bootstrap/main.min.js"></script>
    <script>
        $(function () {

            /* initialize the external events
             -----------------------------------------------------------------*/
            function ini_events(ele) {
                ele.each(function () {

                    // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                    // it doesn't need to have a start or end
                    var eventObject = {
                        title: $.trim($(this).text()) // use the element's text as the event title
                    }

                    // store the Event Object in the DOM element so we can get to it later
                    $(this).data('eventObject', eventObject)

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex: 1070,
                        revert: true, // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                    })

                })
            }



            //ini_events($('#external-events div.external-event'))



            /* initialize the calendar
             -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            var date = new Date()
            var d = date.getDate(),
                m = date.getMonth(),
                y = date.getFullYear()

            var Calendar = FullCalendar.Calendar;
            var Draggable = FullCalendarInteraction.Draggable;

            //var containerEl = document.getElementById('external-events');
            //var checkbox = document.getElementById('drop-remove');
            var calendarEl = document.getElementById('calendar');

            // initialize the external events
            // -----------------------------------------------------------------

            //new Draggable(containerEl, {
            //    itemSelector: '.external-event',
            //    eventData: function (eventEl) {
            //        console.log(eventEl);
            //        return {
            //            title: eventEl.innerText,
            //            backgroundColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
            //            borderColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
            //            textColor: window.getComputedStyle(eventEl, null).getPropertyValue('color'),
            //        };
            //    }
            //});

            var calendar = new Calendar(calendarEl, {
                locale: 'es',
                plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                //Random default events
                events: "https://localhost:44370/findall",
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (info) {
                    // is the "remove after drop" checkbox checked?
                    if (checkbox.checked) {
                        // if so, remove the element from the "Draggable Events" list
                        info.draggedEl.parentNode.removeChild(info.draggedEl);
                    }
                },
                eventClick: function (event) {
                    alert(event.title);
                },
                editable: true,
                selectable: true,
                select: function (event) {
                    alert(eventsList);
                }
            });



            calendar.render();
            //$('#calendar').fullCalendar()

            /* ADDING EVENTS */
            var currColor = '#3c8dbc' //Red by default
            //Color chooser button
            var colorChooser = $('#color-chooser-btn')
            $('#color-chooser > li > a').click(function (e) {
                e.preventDefault()
                //Save color
                currColor = $(this).css('color')
                //Add color effect to button
                $('#add-new-event').css({
                    'background-color': currColor,
                    'border-color': currColor
                })
            })
            $('#add-new-event').click(function (e) {
                window.location.replace("https://localhost:44370/Home/Create");

            })
            $('#edit-event').click(function (e) {
                window.location.replace("https://localhost:44370/Home/IndexCalendario");

            })
        })</script>
}



