@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Información Personal";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Esta página le permite descargar o eliminar su información personal.</p>
        <p>
            <strong>Eliminar esta información hará que su cuenta sea eliminada de manera permanente y no podrá recuperarla.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Descargar</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Eliminar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}