@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de contraseña olvidada";
    Layout = "_LayoutLogin";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, revise su correo electrónico. 
</p>

