@page
@model LockoutModel
@{
    ViewData["Title"] = "Cerrado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta ha cerrado, por favor inténtelo de nuevo.</p>
</header>
