@page
@model LogoutModel
@{
    ViewData["Title"] = "Cerrar sesión";
    Layout = "_LayoutLogin";
}
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Usted ha cerrado sesión exitosamente.</p>
</header>