@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña ha sido cambiada. Por favor, presione <a asp-page="./Login">aquí</a> para regresar al Inicio de Sesión.
</p>
