@model TP.Models.Animal

@{
    ViewData["Title"] = "Crear - Animal";
}

<h1>Crear</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                @*<input asp-for="Sexo" class="form-control" />*@
                <select asp-for="Sexo" class="form-control" asp-items="ViewBag.Sexo"></select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tamano" class="control-label"></label>
                @*<input asp-for="Raza" class="form-control" />*@
                <select asp-for="Tamano" class="form-control" asp-items="ViewBag.Tamano"></select>
                <span asp-validation-for="Tamano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Castrado" class="control-label"></label>
                <input asp-for="Castrado" class="form-control" />
                <span asp-validation-for="Castrado" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Castrado" /> @Html.DisplayNameFor(model => model.Castrado)
            </label>
        </div>*@
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                @*<input asp-for="Edad" class="form-control" />*@
                <select asp-for="Edad" class="form-control" asp-items="ViewBag.Edad"></select>
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="IdGsanguineo" class="control-label"></label>
            <select asp-for="IdGsanguineo" class="form-control" asp-items="ViewBag.IdGsanguineo"></select>
        </div>*@
            <div class="form-group">
                <label asp-for="Caracteristicas" class="control-label"></label>
                <input asp-for="Caracteristicas" class="form-control" />
                <span asp-validation-for="Caracteristicas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOrganizacion" class="control-label"></label>
                <select asp-for="IdOrganizacion" class="form-control" asp-items="ViewBag.IdOrganizacion">
                    <option disabled selected>-- Sin casa cuna--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Especie" class="control-label"></label>
                @*<input asp-for="Especie" class="form-control" />*@
                <select asp-for="Especie" class="form-control" asp-items="ViewBag.Especie"></select>
                <span asp-validation-for="Especie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adoptado" class="control-label"></label>
                <input asp-for="Adoptado" class="form-control" />
                <span asp-validation-for="Adoptado" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Adoptado" /> @Html.DisplayNameFor(model => model.Adoptado)
                </label>
            </div>*@
            @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Habilitado" /> @Html.DisplayNameFor(model => model.Habilitado)
            </label>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
