@model TP.Models.Animal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAnimal" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                @*<input asp-for="Sexo" class="form-control" />*@
                <select asp-for="Sexo" class="form-control" asp-items="ViewBag.Sexo"></select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raza" class="control-label"></label>
                @*<input asp-for="Raza" class="form-control" />*@
                <select asp-for="Raza" class="form-control" asp-items="ViewBag.Raza"></select>
                <span asp-validation-for="Raza" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Castrado" /> @Html.DisplayNameFor(model => model.Castrado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                @*<input asp-for="Edad" class="form-control" />*@
                <select asp-for="Edad" class="form-control" asp-items="ViewBag.Edad"></select>
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGsanguineo" class="control-label"></label>
                <select asp-for="IdGsanguineo" class="form-control" asp-items="ViewBag.IdGsanguineo"></select>
                <span asp-validation-for="IdGsanguineo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOrganizacion" class="control-label"></label>
                <select asp-for="IdOrganizacion" class="form-control" asp-items="ViewBag.IdOrganizacion"></select>
                <span asp-validation-for="IdOrganizacion" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Habilitado" /> @Html.DisplayNameFor(model => model.Habilitado)
                </label>
            </div>*@
            <div class="form-group">
                <label asp-for="Especie" class="control-label"></label>
                @*<input asp-for="Especie" class="form-control" />*@
                <select asp-for="Especie" class="form-control" asp-items="ViewBag.Especie"></select>
                <span asp-validation-for="Especie" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Adoptado" /> @Html.DisplayNameFor(model => model.Adoptado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
