@{
    ViewBag.Title = "Confirmar correo electrónico";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por dirigirse a confirmar su correo. Por favor @Html.ActionLink("inicie sesión aquí.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
